<p><strong> Default menu settings:</strong></p>
<pre>
['style', ['style']],
['font', ['bold', 'underline', 'clear']],
['fontname', ['fontname']],
['color', ['color']],
['para', ['ul', 'ol', 'paragraph']],
['table', ['table']],
['insert', ['link', 'picture', 'video']],
['view', ['fullscreen', 'codeview', 'help']],              
</pre>

<p>See docs: <a href="https://summernote.org/deep-dive/#custom-toolbar-popover">https://summernote.org/deep-dive/#custom-toolbar-popover</a></p>
