

  textarea.code-area {
    width: 100%;
    height: 100% !important; 
  }
  div.cod {
    height: calc(100% ) !important; 
    display: none;

  }
  div[class^='gjs'] {
    font-size: 12px;
  }
  label.gjs-radio-item-label {
    color: #ffffff;
  }
  div.switch-link {
    background-color: #475354;
    padding-bottom: 5px;
  }

  a.cod-link {
    color: #ffffff;
    padding-left: 25px;
    text-decoration: none;
    cursor: pointer;
  }


div.gjs-pn-panel.gjs-pn-devices-c.gjs-one-bg.gjs-two-color {
  height: 25px !important;
}

.gjs-editor-cont {
    width: 100% !important;
    /*height: calc(100% - 25px) !important; */
    height: 100%  !important; 

  }

  .gjs-btn-prim.gjs-btn-import-text {
  float: right
}


textarea.gjs-import-area {
  width: 100%;
  height: 500px;
}

.cke_editor_importword {

  height: 500px;
}


button.gjs-btn-prim.gjs-btn-import {
  margin-top: 10px;
}

button.gjs-btn-prim.gjs-btn-import-text {
  margin-top: 10px;
}

.gjs-btn-prim {
  border-style: solid;
  border-width: 1px;
}

.gjs-mdl-dialog {
    max-width: 80% ;
    height: 900px ;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 800px;
}