<style>
  select.form-control.mlselector {
    width: 50px;
    text-transform: uppercase;
    z-index: 999;
    position: absolute;
    right: 2px;
    top: 2px;
  }
</style>
<textarea name="<?= $field->getName() ?>" style="display: none"></textarea>
<?php foreach ($locales as $code => $name): ?>
<?php
$value = $this->getLocaleValue($code);
$value = $this->isLocaleFieldJsonable() ? json_encode($value) : $value;
?>
<textarea
id = "mlsummernote<?=$code?>"
style="display: none;"
class="mlsummernote"
name="<?=$field->getName('RLTranslate[' . $code . ']')?>"
data-locale-value="<?=$code?>"
<?=$field->getAttributes()?>
><?=e($value)?> </textarea>
<?php endforeach?>
<select id="mlselector" class="form-control mlselector">
  <?php foreach ($locales as $code => $name): ?>
  <option value="<?=$code?>"><?=$code?></option>
  <?php endforeach?>
</select>
<script>
  $('#mlselector').on('change', function() {
    $('.note-editor' ).hide();
    $('#mlsummernote' + this.value ).next().show();
  });

  $(document).ready(function() {
    var h = $('#Form-field-Post-content-group').height();
    $('.mlsummernote').summernote({
      <?php if ($custom_menu) {?>    
       toolbar: [        
        <?=$custom_menu_data?>
      ],
      <?php } ?>
      lang: '<?=$lang?>',
      height: h-65,
      focus: true ,
      callbacks: {
        onImageUpload: function(files) {
          for(let i=0; i < files.length; i++) {
            console.log(files[i]);
            $.upload(files[i]);
          }
        }
      }
    });
    $.upload = function (file) {
      let out = new FormData();
      out.append('file', file, file.name);
      $.ajax({
        method: 'POST',
        url: '<?=url($backendpath . '/pkurg/posteditor/builderuploader/uploadsummernotefiles')?>',
        contentType: false,
        cache: false,
        processData: false,
        data: out,
        success: function (img) {
          $('#mlsummernote' + $('#mlselector').val()).summernote('insertImage', img);
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error(textStatus + " " + errorThrown);
        }
      });
    };

    $('.note-editor' ).hide();
    $('#mlsummernote<?=$l?>'  ).next().show();
    $('#mlselector').val('<?=$l?>');

  });
</script>

